Repository domiotek/fintrack, pull requests merged in 2025-06, with the labels that each got.

#60 refactor: make dashboard widgets use services and custom items
  front/src/app/core/models/api/paging.model.ts
  front/src/app/core/models/bills/bill.model.ts
  front/src/app/core/models/bills/get-many.model.ts
  front/src/app/core/models/bills/new-bill-request.ts
  front/src/app/core/models/category/category.model.ts
  front/src/app/core/models/category/category.ts
  front/src/app/core/models/category/get-many.model.ts
  front/src/app/core/services/bills/bills.service.ts
  front/src/app/core/services/categories/categories.service.spec.ts
  front/src/app/core/services/categories/categories.service.ts
  front/src/app/core/services/category/category.service.spec.ts
  front/src/app/core/services/category/category.service.ts
  front/src/app/features/categories/components/category-details/category-details.component.html
  front/src/app/features/categories/components/category-details/category-details.component.ts
  front/src/app/features/categories/pages/categories/categories.component.spec.ts
  front/src/app/features/categories/pages/categories/categories.component.ts
  front/src/app/features/dashboard/components/add-bill-dialog/add-bill-dialog.component.html
  front/src/app/features/dashboard/components/add-bill-dialog/add-bill-dialog.component.scss
  front/src/app/features/dashboard/components/add-bill-dialog/add-bill-dialog.component.ts
  front/src/app/features/dashboard/components/base-widget/base-widget.component.ts
  front/src/app/features/dashboard/components/categories-widget/categories-widget.component.html
  front/src/app/features/dashboard/components/categories-widget/categories-widget.component.spec.ts
  front/src/app/features/dashboard/components/categories-widget/categories-widget.component.ts
  front/src/app/features/dashboard/components/events-widget/events-widget.component.ts
  front/src/app/features/dashboard/components/spending-summary-widget/spending-summary-widget.component.ts
  front/src/app/features/dashboard/components/spendings-widget/spendings-widget.component.html
  front/src/app/features/dashboard/components/spendings-widget/spendings-widget.component.spec.ts
  front/src/app/features/dashboard/components/spendings-widget/spendings-widget.component.ts
  front/src/app/features/dashboard/components/widget-wrapper/widget-wrapper.component.html
  front/src/app/features/dashboard/components/widget-wrapper/widget-wrapper.component.scss
  front/src/app/features/dashboard/components/widget-wrapper/widget-wrapper.component.ts
  front/src/app/features/dashboard/models/widget.ts
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.spec.ts
  front/src/app/shared/components/category-item/category-item.component.html
  front/src/app/shared/components/category-item/category-item.component.scss
  front/src/app/shared/components/category-item/category-item.component.spec.ts
  front/src/app/shared/components/category-item/category-item.component.ts
  front/src/app/shared/components/transaction-item/transaction-item.component.html
  front/src/app/shared/components/transaction-item/transaction-item.component.ts
Labels: feature, frontend

#68 User bills and categories endpoints
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/bill/BillController.java
  backend/src/main/java/com/example/fintrack/bill/BillMapper.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/bill/dto/AddBillDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/BillDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/EventBillUserDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/UpdateBillDto.java
  backend/src/main/java/com/example/fintrack/category/Category.java
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryMapper.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/category/CategorySpecification.java
  backend/src/main/java/com/example/fintrack/category/dto/CategoryDto.java
  backend/src/main/java/com/example/fintrack/category/dto/UpdateCategoryDto.java
  backend/src/main/java/com/example/fintrack/category/limit/LimitMapper.java
  backend/src/main/java/com/example/fintrack/event/EventMapper.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/event/dto/EventSummaryCurrencyDto.java
  backend/src/main/java/com/example/fintrack/event/dto/SettlementUserDto.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/limit/Limit.java
  backend/src/main/java/com/example/fintrack/limit/LimitMapper.java
  backend/src/main/java/com/example/fintrack/limit/LimitRepository.java
  backend/src/main/java/com/example/fintrack/limit/LimitService.java
  backend/src/main/java/com/example/fintrack/limit/dto/AddLimitDto.java
  backend/src/main/java/com/example/fintrack/limit/dto/LimitDto.java
Labels: feature, backend

#71 Added friends endpoints
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/friend/Friend.java
  backend/src/main/java/com/example/fintrack/friend/FriendController.java
  backend/src/main/java/com/example/fintrack/friend/FriendMapper.java
  backend/src/main/java/com/example/fintrack/friend/FriendRepository.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/friend/FriendSpecification.java
  backend/src/main/java/com/example/fintrack/friend/FriendStatus.java
  backend/src/main/java/com/example/fintrack/friend/dto/AcceptFriendRequest.java
  backend/src/main/java/com/example/fintrack/friend/dto/FriendDto.java
  backend/src/main/java/com/example/fintrack/friend/dto/FriendRequestDto.java
  backend/src/main/java/com/example/fintrack/friend/dto/SendFriendRequestDto.java
  backend/src/main/java/com/example/fintrack/friendchatmessage/FriendChatMessage.java
  backend/src/main/java/com/example/fintrack/friendchatmessage/FriendChatMessageRepository.java
  backend/src/main/java/com/example/fintrack/user/User.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventSpecification.java
Labels: feature, backend

#72 Added converter backup currency
  backend/src/main/java/com/example/fintrack/currency/CurrencyConverter.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
Labels: feature, backend

#73 Fixed problems with hibernate session and added errors for friends
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/user/UserMapper.java
  backend/src/main/java/com/example/fintrack/user/dto/UserProfileDto.java
Labels: bug, backend

#74 Fixes
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/category/CategoryMapper.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyConverter.java
Labels: bug, backend

#76 Added banner
  backend/src/main/resources/banner.txt
  backend/src/test/resources/banner.txt
Labels: feature, backend

#79 Delete endpoints fix
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/authentication/AuthenticationService.java
  backend/src/main/java/com/example/fintrack/bill/BillRepository.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/bill/dto/AddBillEventDto.java
  backend/src/main/java/com/example/fintrack/category/Category.java
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryRepository.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/event/Event.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/limit/LimitRepository.java
  backend/src/main/java/com/example/fintrack/limit/LimitService.java
  backend/src/main/java/com/example/fintrack/user/User.java
  backend/src/main/java/com/example/fintrack/user/UserService.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventRepository.java
Labels: bug, backend

#83 Added new chat endpoints
  backend/src/main/java/com/example/fintrack/chat/ChatConfiguration.java
  backend/src/main/java/com/example/fintrack/chat/ChatController.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/message/MessageMapper.java
  backend/src/main/java/com/example/fintrack/message/MessageRepository.java
  backend/src/main/java/com/example/fintrack/message/dto/MessageDto.java
  backend/src/main/java/com/example/fintrack/message/dto/MessageUserDto.java
  backend/src/main/java/com/example/fintrack/message/dto/SendMessageDto.java
  backend/src/main/java/com/example/fintrack/security/SecurityFilterChainConfiguration.java
Labels: feature, backend

#84 Chat state
  backend/src/main/java/com/example/fintrack/chat/ChatController.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/chat/dto/ChatStateDto.java
  backend/src/main/java/com/example/fintrack/lastreadmessage/LastReadMessageMapper.java
  backend/src/main/java/com/example/fintrack/lastreadmessage/LastReadMessageRepository.java
  backend/src/main/java/com/example/fintrack/lastreadmessage/dto/LastReadMessageDto.java
Labels: feature, backend

#91 Chat endpoint
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/bill/BillController.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/chat/Chat.java
  backend/src/main/java/com/example/fintrack/chat/ChatController.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/friend/FriendSpecification.java
  backend/src/main/java/com/example/fintrack/utils/SortDirection.java
  backend/src/main/java/com/example/fintrack/utils/enums/SortDirection.java
Labels: feature, backend

#92 Added statistics endpoints
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/bill/BillController.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/statistics/StatisticsController.java
  backend/src/main/java/com/example/fintrack/statistics/StatisticsService.java
  backend/src/main/java/com/example/fintrack/statistics/dto/StatisticsChartDataDto.java
  backend/src/main/java/com/example/fintrack/statistics/dto/StatisticsDashboardDto.java
  backend/src/main/java/com/example/fintrack/statistics/enums/Group.java
  backend/src/main/java/com/example/fintrack/statistics/enums/Operation.java
Labels: feature, backend

#89 Feature/chat-integration-front
  front/src/app/core/mocks/tests-mocks.ts
  front/src/app/core/models/chat/chat-state.model.ts
  front/src/app/core/models/chat/last-read-message.model.ts
  front/src/app/core/models/chat/message.model.ts
  front/src/app/core/models/events/event.ts
  front/src/app/core/services/chat/chat.service.ts
  front/src/app/features/events/components/add-event-dialog/add-event-dialog.component.spec.ts
  front/src/app/features/events/components/event-details/event-details.component.html
  front/src/app/features/events/components/event-details/event-details.component.scss
  front/src/app/features/events/components/event-details/event-details.component.spec.ts
  front/src/app/features/events/components/event-details/event-details.component.ts
  front/src/app/features/friends/components/chat-item/chat-item.component.ts
  front/src/app/features/friends/pages/friends/friends.component.html
  front/src/app/features/friends/pages/friends/friends.component.ts
  front/src/app/shared/controls/chat/chat.component.ts
Labels: feature, frontend

#97 Enhance CORS configuration and Docker setup for Coolify integration
  backend/src/main/java/com/example/fintrack/security/SecurityConfiguration.java
  deploy-docker-compose.yml
  front/Dockerfile
Labels: feature, frontend, backend, docker

#104 Fixed mock data
  backend/src/main/java/com/example/fintrack/DataInitializer.java
Labels: feature, backend

#105 Added last activity to chat state endpoint
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/chat/dto/ChatStateDto.java
  backend/src/main/java/com/example/fintrack/message/MessageMapper.java
Labels: feature, backend

#111 Websocket cors fix
  backend/src/main/java/com/example/fintrack/chat/ChatConfiguration.java
Labels: bug, backend

#113 Feature/dashboard chart
  front/package-lock.json
  front/package.json
  front/src/app/core/mocks/tests-mocks.ts
  front/src/app/core/models/statistics/dashboard-stats-request.ts
  front/src/app/core/models/statistics/dashboard-stats.ts
  front/src/app/core/models/statistics/stats.model.ts
  front/src/app/core/models/time-range/time-range-req.ts
  front/src/app/core/services/statistics/statistics.service.spec.ts
  front/src/app/core/services/statistics/statistics.service.ts
  front/src/app/features/dashboard/components/spending-summary-widget/spending-summary-widget.component.html
  front/src/app/features/dashboard/components/spending-summary-widget/spending-summary-widget.component.scss
  front/src/app/features/dashboard/components/spending-summary-widget/spending-summary-widget.component.spec.ts
  front/src/app/features/dashboard/components/spending-summary-widget/spending-summary-widget.component.ts
  front/src/app/features/dashboard/components/widget-wrapper/widget-wrapper.component.scss
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.scss
  front/src/app/shared/components/line-chart/line-chart.component.html
  front/src/app/shared/components/line-chart/line-chart.component.scss
  front/src/app/shared/components/line-chart/line-chart.component.spec.ts
  front/src/app/shared/components/line-chart/line-chart.component.ts
  front/src/app/shared/components/no-data/no-data.component.html
  front/src/app/shared/components/no-data/no-data.component.scss
  front/src/app/shared/components/no-data/no-data.component.spec.ts
  front/src/app/shared/components/no-data/no-data.component.ts
  front/src/app/shared/components/transaction-item/transaction-item.component.html
Labels: feature, frontend

#117 Last seen at field
  backend/src/main/java/com/example/fintrack/chat/ChatMapper.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/chat/dto/PrivateChatFriendDto.java
Labels: feature, backend

#126 feat: events widget
  front/src/app/core/models/events/event-response.ts
  front/src/app/core/services/events/events.service.ts
  front/src/app/features/dashboard/components/base-widget/base-widget.component.ts
  front/src/app/features/dashboard/components/events-widget/events-widget.component.html
  front/src/app/features/dashboard/components/events-widget/events-widget.component.spec.ts
  front/src/app/features/dashboard/components/events-widget/events-widget.component.ts
  front/src/app/features/events/pages/events/events.component.ts
Labels: feature, frontend

#130 fix: Update default category ID and enhance date range handling in category service
  front/src/app/core/services/category/category.service.ts
  front/src/app/features/dashboard/components/add-bill-dialog/add-bill-dialog.component.ts
Labels: bug, frontend

#129 feat: enhance chat activity tracking and cleanup logic
  front/src/app/core/models/chat/chat.model.ts
  front/src/app/core/services/chat/chat.service.ts
  front/src/app/features/friends/components/chat-container/chat-container.component.ts
  front/src/app/features/friends/components/chat-item/chat-item.component.html
  front/src/app/features/friends/components/chat-item/chat-item.component.spec.ts
  front/src/app/features/friends/components/chat-item/chat-item.component.ts
  front/src/app/features/friends/pages/friends/friends.component.ts
  front/src/app/shared/controls/chat/chat.component.ts
  front/src/app/shared/controls/chat/components/chat-message-block/chat-message-block.component.spec.ts
  front/src/app/shared/controls/chat/components/chat-message-block/chat-message-block.component.ts
  front/src/app/shared/controls/chat/constants/chat.const.ts
Labels: feature, frontend, area: chat

#137 fix: Refresh dashboard widgets after adding new bill via add-bill-dialog
  front/src/app/features/dashboard/components/add-bill-dialog/add-bill-dialog.component.ts
  front/src/app/features/dashboard/components/base-widget/base-widget.component.ts
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.ts
  front/src/app/features/dashboard/store/dashboard-state.store.ts
Labels: bug, frontend

#138 Category fix
  backend/src/main/java/com/example/fintrack/category/CategoryMapper.java
  backend/src/main/java/com/example/fintrack/category/dto/CategoryDto.java
Labels: feature, backend

#139 Limit fix
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryMapper.java
  backend/src/main/java/com/example/fintrack/limit/LimitMapper.java
  backend/src/main/java/com/example/fintrack/limit/LimitRepository.java
  backend/src/main/java/com/example/fintrack/limit/LimitService.java
  backend/src/main/java/com/example/fintrack/limit/dto/AddLimitDto.java
Labels: bug, backend

#140 Fix
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
Labels: bug, backend

#141 feat: close sidenav on start under 1024px
  front/src/app/core/components/side-nav/side-nav.component.ts
Labels: feature, frontend

#144 fix: chat optimalization fix
  backend/src/main/java/com/example/fintrack/chat/Chat.java
Labels: bug, backend

#143 fix: enhance chat service to return chat state and improve message fetching
  front/src/app/core/services/chat/chat.service.ts
  front/src/app/shared/controls/chat/chat.component.ts
Labels: bug, frontend, area: chat

#146 Chat fix
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/chat/ChatMapper.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/friend/FriendRepository.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/lastreadmessage/LastReadMessage.java
  backend/src/main/java/com/example/fintrack/lastreadmessage/LastReadMessageMapper.java
  backend/src/main/java/com/example/fintrack/user/UserService.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventRepository.java
Labels: bug, backend

#147 refactor: some chat refactor and some fixes
  front/src/app/core/models/chat/last-read-message.model.ts
  front/src/app/core/models/chat/socket-requests.model.ts
  front/src/app/core/services/chat/chat.service.ts
  front/src/app/features/friends/components/chat-list/chat-list.component.html
  front/src/app/features/friends/components/chat-list/chat-list.component.scss
  front/src/app/features/friends/components/chat-list/chat-list.component.spec.ts
  front/src/app/features/friends/components/chat-list/chat-list.component.ts
  front/src/app/features/friends/constants/empty-friends-state.const.ts
  front/src/app/features/friends/models/friends-state.model.ts
  front/src/app/features/friends/pages/friends/friends.component.html
  front/src/app/features/friends/pages/friends/friends.component.scss
  front/src/app/features/friends/pages/friends/friends.component.ts
  front/src/app/features/friends/store/friends-state.store.ts
  front/src/app/shared/components/avatar/avatar.component.html
  front/src/app/shared/controls/chat/chat.component.ts
Labels: frontend, refactor, area: chat

#152 Added private readonly chat
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/friend/FriendRepository.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/friend/FriendStatus.java
Labels: feature, backend

#154 Chat fix
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/message/MessageRepository.java
  front/src/app/core/services/chat/chat.service.ts
  front/src/app/features/friends/components/chat-list/chat-list.component.ts
  front/src/app/shared/controls/chat/chat.component.ts
Labels: feature, backend

#156 feat: Add unit tests for various components and utilities
  front/src/app/core/components/spinner/spinner.component.spec.ts
  front/src/app/core/mocks/tests-mocks.ts
  front/src/app/core/models/statistics/stats-operations.ts
  front/src/app/core/services/auth/auth.service.spec.ts
  front/src/app/core/services/base-api.service.spec.ts
  front/src/app/core/services/loading/loading.service.spec.ts
  front/src/app/core/services/routing/routing.service.spec.ts
  front/src/app/core/store/app-state.store.spec.ts
  front/src/app/features/auth/components/send-reset-password-form/send-reset-password-form.component.spec.ts
  front/src/app/features/categories/components/manage-category-dialog/manage-category-dialog.component.html
  front/src/app/features/categories/components/manage-category-dialog/manage-category-dialog.component.spec.ts
  front/src/app/features/categories/components/manage-category-dialog/manage-category-dialog.component.ts
  front/src/app/features/dashboard/components/base-widget/base-widget.component.ts
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.spec.ts
  front/src/app/features/dashboard/store/dashboard-state.store.spec.ts
  front/src/app/features/events/components/event-details/event-details.component.spec.ts
  front/src/app/features/friends/components/chat-item/chat-item.component.spec.ts
  front/src/app/features/friends/components/chat-list/chat-list.component.spec.ts
  front/src/app/features/friends/components/create-new-chat-dialog/create-new-chat-dialog.component.spec.ts
  front/src/app/features/friends/components/pending-friend-requests-dialog/pending-friend-requests-dialog.component.spec.ts
  front/src/app/features/friends/pages/friends/friends.component.spec.ts
  front/src/app/features/settings/components/personal-info-form/personal-info-form.component.spec.ts
  front/src/app/features/statistics/components/day-of-week-stats-widget/day-of-week-stats-widget.component.spec.ts
  front/src/app/features/statistics/components/select-grouping/select-grouping.component.spec.ts
  front/src/app/features/statistics/components/select-operation-type/select-operation-type.component.spec.ts
  front/src/app/shared/components/alert-panel/alert-panel.component.spec.ts
  front/src/app/shared/components/avatar/avatar.component.spec.ts
  front/src/app/shared/components/bar-chart/bar-chart.component.spec.ts
  front/src/app/shared/components/category-item/category-item.component.spec.ts
  front/src/app/shared/components/confirmation-dialog/confirmation-dialog.component.html
  front/src/app/shared/components/confirmation-dialog/confirmation-dialog.component.spec.ts
  front/src/app/shared/components/currency-selector/currency-selector.component.html
  front/src/app/shared/components/currency-selector/currency-selector.component.spec.ts
  front/src/app/shared/components/currency-selector/currency-selector.component.ts
  front/src/app/shared/components/custom-list/custom-list.component.spec.ts
  front/src/app/shared/components/form-progress-bar/form-progress-bar.component.spec.ts
  front/src/app/shared/components/line-chart/line-chart.component.spec.ts
  front/src/app/shared/components/line-chart/line-chart.component.ts
  front/src/app/shared/components/no-data/no-data.component.spec.ts
  front/src/app/shared/components/no-selected/no-selected.component.spec.ts
  front/src/app/shared/components/password-input/password-input.component.spec.ts
  front/src/app/shared/components/sort-menu/sort-menu.component.spec.ts
  front/src/app/shared/components/time-range-selector/time-range-selector.component.spec.ts
  front/src/app/shared/components/transaction-item/transaction-item.component.spec.ts
  front/src/app/shared/components/user-item/user-item.component.spec.ts
  front/src/app/shared/components/widget-wrapper/widget-wrapper.component.spec.ts
  front/src/app/shared/controls/chat/chat.component.spec.ts
  front/src/app/shared/controls/chat/components/chat-input/chat-input.component.spec.ts
  front/src/app/shared/controls/chat/components/chat-message-block/chat-message-block.component.spec.ts
  front/src/app/shared/controls/chat/components/chat-messages-wrapper/chat-messages-wrapper.component.spec.ts
  front/src/app/shared/controls/search-input/search-input.component.spec.ts
  front/src/app/shared/pipes/activity-text.pipe.spec.ts
  front/src/app/utils/debouncer.spec.ts
Labels: feature, frontend

#157 Added new tests
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/authentication/AuthenticationController.java
  backend/src/main/java/com/example/fintrack/authentication/dto/RegisterRequestDto.java
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryMapper.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/chat/Chat.java
  backend/src/main/java/com/example/fintrack/chat/ChatService.java
  backend/src/main/java/com/example/fintrack/chat/WebSocketDisconnectListener.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyConverter.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/fintrack/friend/FriendService.java
  backend/src/main/java/com/example/fintrack/limit/LimitService.java
  backend/src/main/java/com/example/fintrack/rate/RateService.java
  backend/src/main/java/com/example/fintrack/statistics/StatisticsService.java
  backend/src/main/java/com/example/fintrack/user/User.java
  backend/src/test/java/com/example/fintrack/bill/BillServiceTest.java
  backend/src/test/java/com/example/fintrack/category/CategoryServiceTest.java
  backend/src/test/java/com/example/fintrack/chat/ChatServiceTest.java
  backend/src/test/java/com/example/fintrack/currency/CurrencyServiceTest.java
  backend/src/test/java/com/example/fintrack/event/EventServiceTest.java
  backend/src/test/java/com/example/fintrack/friend/FriendServiceTest.java
  backend/src/test/java/com/example/fintrack/limit/LimitServiceTest.java
  backend/src/test/java/com/example/fintrack/statistics/StatisticsServiceTest.java
  backend/src/test/java/com/example/fintrack/user/UserServiceTest.java
Labels: feature, backend
