Repository domiotek/fintrack, pull requests merged in 2025-05, with the labels that each got.

#15 feat: add angular material and scss variables and basic setup
  front/package-lock.json
  front/package.json
  front/src/app/styles/.gitkeep
  front/src/app/styles/_typography.scss
  front/src/app/styles/_variables.scss
  front/src/index.html
  front/src/styles.scss
Labels: feature, frontend

#16 feat: introduce app routes
  front/src/app/app.routes.ts
  front/src/app/features/auth/pages/activate/activate.component.html
  front/src/app/features/auth/pages/activate/activate.component.scss
  front/src/app/features/auth/pages/activate/activate.component.spec.ts
  front/src/app/features/auth/pages/activate/activate.component.ts
  front/src/app/features/auth/pages/login/login.component.html
  front/src/app/features/auth/pages/login/login.component.scss
  front/src/app/features/auth/pages/login/login.component.spec.ts
  front/src/app/features/auth/pages/login/login.component.ts
  front/src/app/features/auth/pages/register/register.component.html
  front/src/app/features/auth/pages/register/register.component.scss
  front/src/app/features/auth/pages/register/register.component.spec.ts
  front/src/app/features/auth/pages/register/register.component.ts
  front/src/app/features/auth/pages/remind-password/remind-password.component.html
  front/src/app/features/auth/pages/remind-password/remind-password.component.scss
  front/src/app/features/auth/pages/remind-password/remind-password.component.spec.ts
  front/src/app/features/auth/pages/remind-password/remind-password.component.ts
  front/src/app/features/categories/components/.gitkeep
  front/src/app/features/categories/pages/categories/categories.component.html
  front/src/app/features/categories/pages/categories/categories.component.scss
  front/src/app/features/categories/pages/categories/categories.component.spec.ts
  front/src/app/features/categories/pages/categories/categories.component.ts
  front/src/app/features/dashboard/components/.gitkeep
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.html
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.scss
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.spec.ts
  front/src/app/features/dashboard/pages/dashboard/dashboard.component.ts
  front/src/app/features/events/components/.gitkeep
  front/src/app/features/events/pages/events/events.component.html
  front/src/app/features/events/pages/events/events.component.scss
  front/src/app/features/events/pages/events/events.component.spec.ts
  front/src/app/features/events/pages/events/events.component.ts
  front/src/app/features/friends/components/.gitkeep
  front/src/app/features/friends/pages/friends/friends.component.html
  front/src/app/features/friends/pages/friends/friends.component.scss
  front/src/app/features/friends/pages/friends/friends.component.spec.ts
  front/src/app/features/friends/pages/friends/friends.component.ts
  front/src/app/features/settings/components/.gitkeep
  front/src/app/features/settings/pages/settings/settings.component.html
  front/src/app/features/settings/pages/settings/settings.component.scss
  front/src/app/features/settings/pages/settings/settings.component.spec.ts
  front/src/app/features/settings/pages/settings/settings.component.ts
  front/src/app/features/statistics/components/.gitkeep
  front/src/app/features/statistics/pages/statistics/statistics.component.html
  front/src/app/features/statistics/pages/statistics/statistics.component.scss
  front/src/app/features/statistics/pages/statistics/statistics.component.spec.ts
  front/src/app/features/statistics/pages/statistics/statistics.component.ts
Labels: feature, frontend

#18 feat: auth guard
  front/src/app/app.routes.ts
  front/src/app/core/guards/auth.guard.spec.ts
  front/src/app/core/guards/auth.guard.ts
Labels: feature, frontend

#21 feat: app initializer & mocked get config
  front/src/app/app.config.ts
  front/src/app/core/models/auth/config-response.model.ts
  front/src/app/core/models/currency/currency.model.ts
  front/src/app/core/services/auth/auth.service.ts
  front/src/app/core/services/config/config.service.spec.ts
  front/src/app/core/services/config/config.service.ts
Labels: feature, frontend

#20 Redis host name changed
  backend/src/main/java/com/example/fintrack/config/RedisConfig.java
  docker-compose.yml
Labels: bug, backend, docker

#19 User profile endpoint
  README.md
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/authentication/AuthenticationService.java
  backend/src/main/java/com/example/fintrack/authentication/dto/RegisterRequestDto.java
  backend/src/main/java/com/example/fintrack/currency/Currency.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyRepository.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/fintrack/security/service/RedisService.java
  backend/src/main/java/com/example/fintrack/security/service/UserProvider.java
  backend/src/main/java/com/example/fintrack/user/UserController.java
  backend/src/main/java/com/example/fintrack/user/UserService.java
  backend/src/main/java/com/example/fintrack/user/dto/UserProfileCurrencyDto.java
  backend/src/main/java/com/example/fintrack/user/dto/UserProfileDto.java
Labels: feature, backend

#33 Currencies endpoint
  backend/src/main/java/com/example/fintrack/config/RedisConfiguration.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyController.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyDto.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyService.java
  backend/src/main/java/com/example/fintrack/currency/Rate.java
  backend/src/main/java/com/example/fintrack/security/SecurityFilterChainConfiguration.java
  backend/src/main/java/com/example/fintrack/user/UserController.java
Labels: feature, backend

#32 feat: sidenav & mainlayout
  front/src/app/app.routes.ts
  front/src/app/core/components/header-bar/header-bar.component.html
  front/src/app/core/components/header-bar/header-bar.component.scss
  front/src/app/core/components/header-bar/header-bar.component.spec.ts
  front/src/app/core/components/header-bar/header-bar.component.ts
  front/src/app/core/components/main-layout/main-layout.component.html
  front/src/app/core/components/main-layout/main-layout.component.scss
  front/src/app/core/components/main-layout/main-layout.component.spec.ts
  front/src/app/core/components/main-layout/main-layout.component.ts
  front/src/app/core/components/side-nav/nav-item/nav-item.component.html
  front/src/app/core/components/side-nav/nav-item/nav-item.component.scss
  front/src/app/core/components/side-nav/nav-item/nav-item.component.spec.ts
  front/src/app/core/components/side-nav/nav-item/nav-item.component.ts
  front/src/app/core/components/side-nav/side-nav.component.html
  front/src/app/core/components/side-nav/side-nav.component.scss
  front/src/app/core/components/side-nav/side-nav.component.spec.ts
  front/src/app/core/components/side-nav/side-nav.component.ts
  front/src/app/core/constants/navigation/headers.ts
  front/src/app/core/constants/navigation/route-titles.ts
  front/src/app/core/models/navigation/nav-item.model.ts
  front/src/app/core/store/app-state.store.ts
  front/src/app/styles/_typography.scss
  front/src/styles.scss
Labels: feature, frontend

#34 fix: navbar content margin and text-overflow
  front/src/app/core/components/side-nav/side-nav.component.html
  front/src/app/core/components/side-nav/side-nav.component.scss
Labels: bug, frontend

#31 Bugfix: Fix Docker Containerization workflow running twice on merge requests
  .github/workflows/docker.yml
Labels: bug

#36 fix: navbar margin on mobile
  front/src/app/core/components/side-nav/side-nav.component.html
  front/src/app/core/components/side-nav/side-nav.component.ts
Labels: bug, frontend

#37 Added endpoint for events
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/event/Event.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventMapper.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/event/EventStatus.java
  backend/src/main/java/com/example/fintrack/event/UserEventRepository.java
  backend/src/main/java/com/example/fintrack/event/dto/EventDto.java
  backend/src/main/java/com/example/fintrack/event/dto/EventUserDto.java
  backend/src/main/java/com/example/fintrack/user/User.java
  backend/src/main/java/com/example/fintrack/userevent/UserEvent.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventRepository.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventSpecification.java
  backend/src/main/resources/application.yaml
Labels: feature, backend

#46 Event post endpoints
  backend/src/main/java/com/example/fintrack/authentication/AuthenticationService.java
  backend/src/main/java/com/example/fintrack/bill/AddBillEventDto.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/event/dto/AddEventDto.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/user/UserService.java
Labels: feature, backend

#45 feat: categories page & search control, sort component and custom list
  front/src/app/core/bills/bill.ts
  front/src/app/core/models/category/category.ts
  front/src/app/core/models/list/list-item.ts
  front/src/app/core/models/sort/sort-item.ts
  front/src/app/core/models/sort/sort-state.ts
  front/src/app/core/services/bills/bills.service.ts
  front/src/app/core/services/category/category.service.spec.ts
  front/src/app/core/services/category/category.service.ts
  front/src/app/core/store/app-state.store.ts
  front/src/app/features/categories/components/.gitkeep
  front/src/app/features/categories/components/category-details/category-details.component.html
  front/src/app/features/categories/components/category-details/category-details.component.scss
  front/src/app/features/categories/components/category-details/category-details.component.spec.ts
  front/src/app/features/categories/components/category-details/category-details.component.ts
  front/src/app/features/categories/components/category-item/category-item.component.html
  front/src/app/features/categories/components/category-item/category-item.component.scss
  front/src/app/features/categories/components/category-item/category-item.component.spec.ts
  front/src/app/features/categories/components/category-item/category-item.component.ts
  front/src/app/features/categories/constants/categories-sort-items.ts
  front/src/app/features/categories/constants/categories-start-sort-state.ts
  front/src/app/features/categories/constants/empty-category-state.ts
  front/src/app/features/categories/models/category-state.ts
  front/src/app/features/categories/pages/categories/categories.component.html
  front/src/app/features/categories/pages/categories/categories.component.scss
  front/src/app/features/categories/pages/categories/categories.component.spec.ts
  front/src/app/features/categories/pages/categories/categories.component.ts
  front/src/app/features/categories/store/category-state.store.ts
  front/src/app/shared/components/custom-list/custom-list.component.html
  front/src/app/shared/components/custom-list/custom-list.component.scss
  front/src/app/shared/components/custom-list/custom-list.component.spec.ts
  front/src/app/shared/components/custom-list/custom-list.component.ts
  front/src/app/shared/components/no-selected/no-selected.component.html
  front/src/app/shared/components/no-selected/no-selected.component.scss
  front/src/app/shared/components/no-selected/no-selected.component.spec.ts
  front/src/app/shared/components/no-selected/no-selected.component.ts
  front/src/app/shared/components/sort-menu/sort-menu.component.html
  front/src/app/shared/components/sort-menu/sort-menu.component.scss
  front/src/app/shared/components/sort-menu/sort-menu.component.spec.ts
  front/src/app/shared/components/sort-menu/sort-menu.component.ts
  front/src/app/shared/components/transaction-item/transaction-item.component.html
  front/src/app/shared/components/transaction-item/transaction-item.component.scss
  front/src/app/shared/components/transaction-item/transaction-item.component.spec.ts
  front/src/app/shared/components/transaction-item/transaction-item.component.ts
  front/src/app/shared/controls/search-input/search-input.component.html
  front/src/app/shared/controls/search-input/search-input.component.scss
  front/src/app/shared/controls/search-input/search-input.component.spec.ts
  front/src/app/shared/controls/search-input/search-input.component.ts
  front/src/app/styles/_typography.scss
  front/src/app/styles/_variables.scss
Labels: feature, frontend

#47 Currency converter
  backend/src/main/java/com/example/fintrack/bill/BillMapper.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/bill/dto/AddBillEventDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/EventBillDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/EventBillUserDto.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyConverter.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyRepository.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyService.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventMapper.java
  backend/src/main/java/com/example/fintrack/event/dto/EventDto.java
  backend/src/main/java/com/example/fintrack/rate/RateRepository.java
Labels: feature, backend

#49 Scheduled rates update
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/FintrackApplication.java
  backend/src/main/java/com/example/fintrack/authentication/AuthenticationService.java
  backend/src/main/java/com/example/fintrack/exception/BusinessErrorCodes.java
  backend/src/main/java/com/example/fintrack/rate/RateService.java
  backend/src/main/java/com/example/fintrack/rate/RatesDto.java
Labels: feature, backend

#51 Pagination update
  backend/src/main/java/com/example/fintrack/FintrackApplication.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/category/dto/LimitDto.java
  backend/src/main/java/com/example/fintrack/config/ApplicationConfiguration.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
Labels: feature, backend

#52 Calculating settlements
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventMapper.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/event/dto/SettlementCurrencyDto.java
  backend/src/main/java/com/example/fintrack/event/dto/SettlementDto.java
  backend/src/main/java/com/example/fintrack/event/dto/SettlementUserDto.java
Labels: feature, backend

#61 refactor: replace LocalDateTime with ZonedDateTime for date handling across the application
  backend/src/main/java/com/example/fintrack/DataInitializer.java
  backend/src/main/java/com/example/fintrack/bill/Bill.java
  backend/src/main/java/com/example/fintrack/bill/BillController.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/bill/BillSpecification.java
  backend/src/main/java/com/example/fintrack/bill/dto/AddBillDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/AddBillEventDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/BillDto.java
  backend/src/main/java/com/example/fintrack/bill/dto/EventBillDto.java
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/category/CategoryService.java
  backend/src/main/java/com/example/fintrack/category/CategorySpecification.java
  backend/src/main/java/com/example/fintrack/category/dto/LimitDto.java
  backend/src/main/java/com/example/fintrack/category/limit/Limit.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyConverter.java
  backend/src/main/java/com/example/fintrack/currency/CurrencyService.java
  backend/src/main/java/com/example/fintrack/event/Event.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/event/dto/AddEventDto.java
  backend/src/main/java/com/example/fintrack/message/LastReadMessage.java
  backend/src/main/java/com/example/fintrack/rate/Rate.java
  backend/src/main/java/com/example/fintrack/rate/RateRepository.java
  backend/src/main/java/com/example/fintrack/rate/RateService.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventSpecification.java
Labels: backend, refactor

#55 Events endpoint update
  backend/src/main/java/com/example/fintrack/category/CategoryController.java
  backend/src/main/java/com/example/fintrack/event/Event.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventMapper.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
  backend/src/main/java/com/example/fintrack/event/dto/EventCurrencyDto.java
  backend/src/main/java/com/example/fintrack/event/dto/EventDto.java
  backend/src/main/java/com/example/fintrack/event/enums/EventSortField.java
  backend/src/main/java/com/example/fintrack/event/enums/EventStatus.java
  backend/src/main/java/com/example/fintrack/userevent/UserEventSpecification.java
  backend/src/main/java/com/example/fintrack/utils/SortDirection.java
Labels: feature, backend

#62 Unified endpoint parameters names
  backend/src/main/java/com/example/fintrack/bill/BillController.java
  backend/src/main/java/com/example/fintrack/bill/BillService.java
  backend/src/main/java/com/example/fintrack/event/EventController.java
  backend/src/main/java/com/example/fintrack/event/EventService.java
Labels: bug, backend
